<footer class="container">
<p> 联系我们 Tel:010-3402728 e-mail: jinhai@163.com </p>
<p class="float-right"><a href="#">返回顶部</a></p>

<p>&copy; 2019-2020 boringman.cn 版权所有 京ICP备19016518号 &middot; <a href="http://www.miitbeian.gov.cn/">Privacy</a> &middot; <a href="http://www.miitbeian.gov.cn/">Terms</a></p>
<!-- <p>&copy; 浙公网安备 33010602009975号 &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p> -->
<!-- <p>&copy; 2017-2018 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p> -->
</footer>